#bgc .xz{
    font-size: 20px;
    height: auto;
    padding: 15px;
    margin-bottom: 50px;
}
input[type="checkbox"]{
    width: 18px;
    height: 18px;
}
.zt{
    font-size: 15px;
}
.form{
    height: 100px;
    line-height: 100px;
}
.form p{
    float: left;
    margin-right: 50px;
}
#btn1{
    display: block;
    height: 30px;
    width: auto;
    background: #02b3dd;
    color: white;
    padding: 0 10px;
}
.more_list{
    padding-top: 20px;
    padding-bottom: 20px;

}
.more_list li{
    margin-left: 15px;
    height: 35px;
    line-height: 35px;
    font-size: 20px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}